box-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

accent {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #402D8A;
    text-underline-offset: 4px;
}